.Notification {
  background-color: white;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}
.notifyImagess {
  width: 2rem;
  height: 2rem;
  border-radius: 25%;
}
.notificationdetails {
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left: 5px;
}
.content{
font-size: 12px;
margin-left: 10px;
}
.vl{
  height: 150%;
  /* border-left: 2px solid var(--hrColor); */
  background-color: black;
}
.Notification>hr{
  width: 85%;
  border: 1px solid var(--hrColor);
}
.clear{
  text-align: right;
  color: #aaa;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}