.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LEFT SIDE */
.a-left {
  gap: 2rem;
}

.a-left > img {
  width: 6rem;
  height: 6rem;
}
.Webname > h1 {
  font-size: 3rem;
  background-color: red;

  /* Create The Gradient */
  background-image: var(--buttonBg);
  /* Set the ColorBg size and Properties */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the Text as mask of the background */
  /* This will show the gradient as a text Color rather than element background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
}

.Webname > h6 {
  font-size: 0.85rem;
}

.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.infoInput {
  border: none;
  /* outline: none; */
  background-color: var(--inputColor);
  border-radius: 8px;
  flex: 1;
}
.inputfields{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputname{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 100%;
}
.infoButton {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}
.a-right{
  display: flex;
  flex-direction: column;
}

.form-error{
  color: red;
  font-size: 12px;
}