.mainNavbar {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    position: sticky;
    top: 0;
  }
  .searchInputContainer {
    display: flex;
    align-items: center;
    background-color: rgb(224, 228, 232);
    padding: 5px;
    border-radius: 10px;
  }
  .IconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 2rem;
  }
  .LogoContainer {
   display: flex;
   align-items: center;
  }
  .Icons {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }
  .searchIcon {
    width: 20px;
    height: 20px;
  }
  .ProfileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .searchInput{
      width: 33pc;
      border: none;
      padding: 4px;
      border-radius: 10px;
      background-color: rgb(224, 228, 232);
      outline: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 10px ;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  