.Leftbar {
  width: 20%;
  background-color: white;
  height: 400px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  align-items: center;
  overflow: auto;
  position: relative;
}

.adminOptioins {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.adminOptioins > div {
  margin-top: 50px;
  cursor: pointer;
}

.iconss{
display: flex;
align-items: center;
/* justify-content: space-between; */
}
