.Leftbar {
  width: 20%;
  background-color: white;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: relative;
}
.adminOptioins {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminOptioins > div {
  margin-top: 50px;
  cursor: pointer;
}

.iconss{
display: flex;
align-items: center;
}

