.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    background-image: url('../../img/hlogol.png');
    height: auto;
    background-repeat: no-repeat;
    height: 600px;
}
.errbtn{
    align-items: center;
}