.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.navIcons {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-around;
  bottom: 0;
  position: fixed;
  width: 350px;
  /* width: 100%; */
  align-items: center;
  background-color: #aaa;
  border-radius: 20px;
}
.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.homeimage {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.notify {
  display: flex;
  cursor: pointer;
}

.notification-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(9, 7, 143, 0.719);
  border-radius: 50%;
  color: white;
  text-align: center;
}
