.Home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  /* grid-template-columns: 20% 60% auto; */

  /* gap: 1rem; */
}


@media only screen and (max-width: 1250px) {
  .Home {
    grid-template-columns: 25rem auto;
  }
  .rightSide {
    display: none;
  }
  .navBar{
    display: none;
  }
}
@media only screen and (min-width: 1300px) {
  /* .Home {
    grid-template-columns: 25rem auto;
  } */
  .rightSide {
    display: block;
  }
  .navBar{
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .Home {
    grid-template-columns: auto;
  }
  .FollowersCard {
    display: none;
  }
  .menu{
    display: none;
  }
  .navBar{
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  #profileDiv {
    display: none !important;
  }
}
/* 
@media only screen and (min-width: 1024px) {
  .Home {
    grid-template-columns: 25rem auto;
  }
  .rightSide {
    display: none;
  }
  .navBar{
    display: none;
  }
}


@media only screen and (max-width: 900px) {
  .Home {
    grid-template-columns: auto;
  }
  .FollowersCard {
    display: none;
  }
  .menu{
    display: none;
  }
  .navBar{
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  #profileDiv {
    display: none !important;
  }
} */
