.adminControlls {
  display: flex;
  margin: 10px;
  /* width: 80%; */
  background-color: brown;
  /* height: 500px; */
  margin-top: 10px;
  position: relative;
  margin-left: 10px;
  width: 100%;
}
