/* table,
  td,
  th {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid black;
   
  }
  table{
    width: 100%;
  } */
    
  
  
  /* table {
    border-collapse: collapse;
    width: 50%;
  } */
  .repostPosts{
    width: 100%;
  }
  
  .block {
    background-color: rgb(13, 133, 97) !important;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    min-width: 100px;
  }
  .Nonblock {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    min-width: 100px;
  }
  .postImage{
   width: 100px;
   object-fit: cover;
  }
  .descri,.userCount{
    color: rgb(169, 0, 0);
    font-weight: bold;
   padding: 0.5rem;
  }
  .reportUsers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }
  .posimgtd{
    background-color: rgb(241, 239, 237);
  }
  #myBtn{
    color: rgb(81, 81, 255);
    font-weight: 300;
    cursor: pointer;
  }