.ProfileCard{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background-color: var(--cardColor);
    /* height: 100vh; */
    /* overflow: auto; */
    
}
.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfileImages > img:nth-last-of-type(2)
{
    width:100%;
    object-fit: cover;
    height: 150px;
}
.ProfileImages > img:nth-last-of-type(1)
{
    width:6rem;
    height: 7rem;
    border-radius: 25%;
    position: absolute;
    bottom: -3rem;
    object-fit: cover;
    box-shadow: var(--profileShadow);
}
.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
}
.ProfileName> span:nth-of-type(1){
    font-weight: bold;

}

/* Follow Status */
.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem; 
}
.followStatus>hr{
    width: 85%;
    border: 1px solid var(--hrColor);
}
.followStatus>div{
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}
.follow>span:nth-of-type(1){
    font-weight: bold;
}
.follow>span:nth-of-type(2){
    color: var(--gray);
    font-size: 13px;
}
.vl{
    height: 150%;
    border-left: 2px solid var(--hrColor);
}

.ProfileCard>span{
    font-weight: bold;
    color: rgb(0, 174, 255);
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.customBut{
    margin-top: -40px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}

