.ProfileCard {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  background-color: var(--cardColor);
  /* height: 100vh; */
  /* overflow: auto; */
}
.ProfileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.coverImages {
  width: 100%;
  object-fit: cover;
  height: 150px;
}
.profilesImages {
  width: 8rem;
  height: 9rem;
  border-radius: 25%;
  position: absolute;
  align-items: flex-start;
  margin-left: 10px;
  bottom: -3rem;
  object-fit: cover;
  box-shadow: var(--profileShadow);
}
.ProfileName {
  margin-left: 9rem;
  gap: 10px;
  font-weight: bold;
}
/* .ProfileName > span:nth-of-type(1) {
} */
.pen {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-left: 7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileDetails {
 
  margin-top: -5rem;
  text-align: end;
  padding: 10px;
}


.followStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -50px;
}
.followStatus > hr {
  width: 85%;
  border: 1px solid var(--hrColor);
}
.followStatus > div {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
.follow {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.follow > span:nth-of-type(1) {
  font-weight: bold;
}
.follow > span:nth-of-type(2) {
  color: var(--gray);
  font-size: 13px;
}
.vl {
  height: 150%;
  border-left: 2px solid var(--hrColor);
}

.ProfileCard > span {
  font-weight: bold;
  color: rgb(0, 174, 255);
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.customBut {
  margin-top: -40px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}
