.loading-btn {
    position: relative;
    padding: 5px 15px; ;
    background:linear-gradient(98.63deg, #25b6f9 0%, #5f20f3 100%);
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.spinner {
    /* padding: 10px; */
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}