

.userProfile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25%;
}
.usertable {
  width: 100%;
}
.sixze {
  display: flex;
  flex-direction: column;
}
.Block {
  background-color: red !important;
  color: white;
  border: none;
  padding: 10px;
  min-width: 100px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.Verify{
  background-color: rgb(0, 92, 128) !important;
  color: white;
  border: none;
  padding: 10px;
  min-width: 100px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.button {
  height: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
}
/* .userSearch{
  padding: 10px;
  border-radius: 25px;
  border: none;

} */
.userSearch{
  /* width: 33pc; */
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(224, 228, 232);
  outline: none;
}
