.allLoginUsers {
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
}

.logedUser {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  object-fit: cover;
}
.arrange {
  display: flex;
  align-items: center;
}
.userDetail {
}
table,
td,
th {
  /* border: 1px solid black; */
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

.block {
  background-color: red !important;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.Nonblock {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  /* height: 2rem; */
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.active-user {
  height: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
