.Profile{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
}


@media only screen and (max-width: 1250px){
    .Profile{
        grid-template-columns: 18rem auto;
    }
   
    
} 

@media only screen and (max-width: 900px){
    .Profile{
        grid-template-columns: auto;
    }
    .rightSide {
        display: none;
    }
    
}
